<!DOCTYPE html>
<html ng-app="fiber">
<head lang="en">
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/script/fiber.js"></script>
    <!--<script src="../static/script/fiberCtrl.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>-->
</head>
<body>
    <div ng-controller="fiberCtrl">
        <h2 class="welcome">Welcome. You are logged in as {{user}}</h2>
        <a class="link-style" href="/logout">Logout</a><br>
        <a class="link-style" href="/user">Edit User</a>
    </div>
    <hr>
</body>
</html>