<!DOCTYPE html>
<html ng-app="fiberApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Google Authentication</title>
    <script src="../lib/jquery-1.11.3.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>
    <script src="../static/script/fiber.js"></script>
    <script src="../static/script/fiberCtrl.js"></script>
</head>
<body ng-controller="fiberCtrl">
    <h2>Google Authenticated Information</h2>
    <p>ID: {{user.username}}</p>
    <p>Email: {{user.email}}}</p>
    <a href="/logout">Logout</a>
</body>
</html>