<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="from-container">
        <p class="form-header">Login</p>
        <form method="post">
            <label>User Name:</label>
            <input type="text" name="username"><br>
            <label>Password:</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <p><a href="/auth/google">Sign in with Google</a></p>
    <p class="form-bottom">New User? <a href="/signup">Signup Here</a></p>
</body>
</html>